.action-log {
    border: 2px solid #7e7e7e;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    
}


.action-log th {
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    border: 2px solid #7e7e7e;
}

.action-log tr:first-child th:last-child {
    border-radius: 10px;
}

h4 {
    text-align: center;
}

.info {
    font-weight: normal;
    word-wrap: break-word;
    word-wrap: break-word;
}
