body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F3F4F6;

}


.container {/*LoginPage background*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('plm-app/public/background.jpg');
    background-size: cover;
    /* Ensures the image covers the entire viewport */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    background-attachment: fixed;
    /* Keeps the background fixed on scroll */
    background-position: center;
    /* Centers the image */
    margin: 0;
    /* Removes default margin */
    height: 100vh;
    width: 100vw;
}

.center-block {
    width: 70%; /* Adjust as necessary */
    margin: 0 auto;
}


/* about back button */
.back {
    display: inline-flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 24px; /* Adjust size */
    font-weight: bold;
    color: black; /* Adjust color */
    text-decoration: none; /* Remove underline if it's a link */
    cursor: pointer;
}

.back .arrow {
    margin-right: 8px; /* Space between arrow and text */
    font-size: 24px; /* Adjust size of the arrow */
    line-height: 1;
}

.back:hover {
    color: blue; /* Hover effect color */
    text-decoration: underline; /* Optional hover effect */
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #007bff;
    color: white;
    text-align: left;
    padding: 12px 15px;
    font-weight: bold;
    border-bottom: 2px solid #0056b3;
}

td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9f5ff;
}

table,
th,
td {
    border: 1px solid #ddd;
}